<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <title>React Fastgui</title>
</head>
  <body>
  <%- body %>
  <% if (env.production) { %>
    <script async src="<%= env.assets.main.js %>"></script>
  <% } else { %>
    <script src="<%= req.protocol %>://<%= req.hostname %>:3000/client/main.js"></script>
  <% } %>
  </body>
</html>
